<!doctype html>

<html lang="en">

    {{template "head"}}

    <body class=" avenir " style="background-color:#f9f9f9">
        <!-- main nav -->
        {{template "nav_menu"}}
        <!-- End main nav -->
        <section class="bg-gray vh-50 cover " style="background-image:url('/img/hero4.jpg');">
          <div style="background-color:rgba(0,0,0,.3)" class="w-100 h-100 flex items-center justify-center">
            <div class="w-70-ns dib white  cf h4">
              <img src="//placehold.it/200x200" style="width:200px; height:200px;" class="br-100  dib v-mid bg-gray ba white mr4">
              <div class="dib v-mid">
                <h2 class="fw6 lh-copy f1 ">Anthony Alaribe</h2>
                <p class="fw2 lh-copy f4 ">member since january, 2016</p>
              </div>
            </div>
        </div>
        </section>
        <section class="tc">
          <div class="pa2 dib">
            <a href="#" class="link black grow dib">
              <div class="shadow-4 pa3 dib v-mid bg-white">
                <img class="dib v-mid" src="/img/envelope.svg" style="width:28px"/>
                <span class="dib v-mid">&nbsp;&nbsp;21 messages</span>
              </div>
            </a>
          </div>
          <div class="pa2 dib">
            <a href="#" class="link black grow dib">
              <div class="shadow-4 pa3 dib  bg-white">
                <img src="/img/chat.svg" style="width:28px" class="dib v-mid"/>
                <span class="dib v-mid">&nbsp;&nbsp;You have bid on 30 barters so far</span>
              </div>
            </a>
          </div>
          <div class="pa2 dib">
            <a href="#" class="link black grow dib">
              <div class="shadow-4 pa3 dib bg-white">
                <img src="/img/pin-post.svg" style="width:28px" class="dib v-mid"/>
                <span class="dib v-mid">&nbsp;&nbsp;Uploaded 30 Barters so far</span>
              </div>
            </a>
          </div>
        </section>

        <!-- Beginning if explore section -->
        <section class="pa3 cf tc">
          <section class="w-80-ns dib tl">

          <section class="w-25 fl pa1">
            <div class="w-100 bg-white pa3 shadow-4">
              <h2 class="tc pv2 primary fw6">Quick links</h2>
              <div>
                <a href="#" class="link db pa3 ">Notifications</a>
                <a href="#" class="link db pa3 ">Create a barter</a>
                <a href="#" class="link db pa3 ">Barter Archives</a>
              </div>
            </div>
          </section>
          <section class="w-75 fl pa1 cf">
            <section class="cf">
              <section class="w-100 fl ph2">
                <!-- Barter item -->
                <a href="#" class="link grow">
                  <div class="shadow-4 bg-white pt3 mb4 ">
                    <h3 class="fw4 pa3 pv3"><a href="#" class="link  primary">#bid657</a>, <small>in <a href="#" class="link primary dim">Calabar</a></small></h3>
                    <div class="pa3 pv2 ">
                      <h4 class="fw6 primary">What I want?</h4>
                      <p class="db pt1">A macbook or a really good laptop</p>
                      <small class="dark-gray">under <a href="dsd" class="link primary fw6 hover-primary">laptops and computers</a></small>
                    </div>
                    <div class="pa3 pt2 ">
                      <h4 class="fw6 primary">What I want?</h4>
                      <p class="db pt1">A macbook or a really good laptop</p>
                      <small class="dark-gray">under <a href="dsd" class="link primary fw6 hover-primary">laptops and computers</a></small>
                    </div>
                    <div class="cf pt3">
                      <a data-lightbox="image-1" data-title="My caption" href="//placehold.it/400x400" class="dib w-third fl pr1">
                        <img src="//placehold.it/400x400" class="w-100 cover" style="min-height:150px;background-color:#f1f1f1"/>
                      </a>
                      <a data-lightbox="image-1" data-title="My caption" href="//placehold.it/400x400" class="dib w-third fl pr1">
                        <img src="//placehold.it/400x400" class="w-100 cover" style="min-height:150px;background-color:#f1f1f1"/>
                      </a>
                      <a data-lightbox="image-1" data-title="My caption" href="//placehold.it/400x400" class="dib w-third fl pr1">
                        <img src="//placehold.it/400x400" class="w-100 cover" style="min-height:150px;background-color:#f1f1f1"/>
                      </a>
                    </div>
                    <div>
                      <a href="#" class="pa3 link dib primary hover-primary">10 bids so fa</a>
                      <a href="#" class="pa3 link dib primary hover-red">end barter</a>
                    </div>
                  </div>
                </a>
                <!-- end barter item -->
                <!-- Barter item -->
                <a href="#" class="link grow">
                  <div class="shadow-4 bg-white pt3 mb4 ">
                    <h3 class="fw4 pa3 pv3"><a href="#" class="link  primary">#bid46576</a>, <small>in <a href="#" class="link primary dim">Calabar</a></small></h3>
                    <div class="pa3 pv2 ">
                      <h4 class="fw6 primary">What I want?</h4>
                      <p class="db pt1">A macbook or a really good laptop</p>
                      <small class="dark-gray">under <a href="dsd" class="link primary fw6 hover-primary">laptops and computers</a></small>
                    </div>
                    <div class="pa3 pt2 ">
                      <h4 class="fw6 primary">What I want?</h4>
                      <p class="db pt1">A macbook or a really good laptop</p>
                      <small class="dark-gray">under <a href="dsd" class="link primary fw6 hover-primary">laptops and computers</a></small>
                    </div>
                    <div class="cf pt3">
                      <a data-lightbox="image-1" data-title="My caption" href="//placehold.it/400x400" class="dib w-third fl pr1">
                        <img src="//placehold.it/400x400" class="w-100 cover" style="min-height:150px;background-color:#f1f1f1"/>
                      </a>
                      <a data-lightbox="image-1" data-title="My caption" href="//placehold.it/400x400" class="dib w-third fl pr1">
                        <img src="//placehold.it/400x400" class="w-100 cover" style="min-height:150px;background-color:#f1f1f1"/>
                      </a>
                      <a data-lightbox="image-1" data-title="My caption" href="//placehold.it/400x400" class="dib w-third fl pr1">
                        <img src="//placehold.it/400x400" class="w-100 cover" style="min-height:150px;background-color:#f1f1f1"/>
                      </a>
                    </div>
                    <div>
                      <a href="#" class="pa3 link dib primary hover-primary">10 bids so far</a>
                      <a href="#" class="pa3 link dib primary hover-red">end barter</a>
                    </div>
                  </div>
                </a>
                <!-- end barter item -->
                <!-- Barter item -->
                <a href="#" class="link grow">
                  <div class="shadow-4 bg-white pt3 mb4 ">
                    <h3 class="fw4 pa3 pv3"><a href="#" class="link  primary">#bid23 </a>, <small>in <a href="#" class="link primary dim">Calabar</a></small></h3>
                    <div class="pa3 pv2 ">
                      <h4 class="fw6 primary">What I want?</h4>
                      <p class="db pt1">A macbook or a really good laptop</p>
                      <small class="dark-gray">under <a href="dsd" class="link primary fw6 hover-primary">laptops and computers</a></small>
                    </div>
                    <div class="pa3 pt2 ">
                      <h4 class="fw6 primary">What I want?</h4>
                      <p class="db pt1">A macbook or a really good laptop</p>
                      <small class="dark-gray">under <a href="dsd" class="link primary fw6 hover-primary">laptops and computers</a></small>
                    </div>
                    <div class="cf pt3">
                      <a data-lightbox="image-1" data-title="My caption" href="//placehold.it/400x400" class="dib w-third fl pr1">
                        <img src="//placehold.it/400x400" class="w-100 cover" style="min-height:150px;background-color:#f1f1f1"/>
                      </a>
                      <a data-lightbox="image-1" data-title="My caption" href="//placehold.it/400x400" class="dib w-third fl pr1">
                        <img src="//placehold.it/400x400" class="w-100 cover" style="min-height:150px;background-color:#f1f1f1"/>
                      </a>
                      <a data-lightbox="image-1" data-title="My caption" href="//placehold.it/400x400" class="dib w-third fl pr1">
                        <img src="//placehold.it/400x400" class="w-100 cover" style="min-height:150px;background-color:#f1f1f1"/>
                      </a>
                    </div>
                    <div>
                      <a href="#" class="pa3 link dib primary hover-primary">10 bids so far</a>
                      <a href="#" class="pa3 link dib primary hover-red">end barter</a>
                    </div>
                  </div>
                </a>
                <!-- end barter item -->
              </section>

            </section>
            <div class="tc  pa4 cf w-100 db ">
              <br/>
              <a href="#" class="dib link pa3 bg-white shadow-4 ba black v-mid">load more</a>
            </div>
          </section>
        </section>
      </section>
        <!-- End of Explore Section -->

        <!-- How it works -->
        <section class="tc bg-white pb4">
          <h2 class="pv5">How it works?</h2>
          <div class="w-80-ns dib">
            <div class="w-33-ns dib">
              <img src="/img/selectfromphone.png" class="" style="height:12rem;"/>
              <p class="fw6 f3 pa2">Register an item you want to batter</p>
            </div>
            <div class="w-33-ns dib">
              <img src="/img/messagefromuser.png" class="" style="height:12rem; width:12rem"/>
              <p class="fw6 f3 pa2">Accept a bid from someone who has what you want</p>
            </div>
            <div class="w-33-ns dib">
              <img src="/img/thumbs.png" class="" style="height:12rem; width:12rem"/>
              <p class="fw6 f3 pa2">Make the exchange and enjoy your life</p>
            </div>
          </div>
        </section>
        <!-- End how it works -->


        <!-- call to action Button -->
        {{template "footer_call_to_action"}}
        <!-- End Action -->

        {{template "footer_share_area"}}
        <!-- Footer -->
        {{template "footer"}}
        <!--End Footer -->
    </body>
</html>
