<!doctype html>

<html lang="en">
    {{template "head"}}

    <body class=" avenir " style="background-color:#f9f9f9">
        <!-- main nav -->
        {{template "nav_menu"}}
        <!-- End main nav -->
        <section class="bg-gray vh-50 cover " style="background-image:url('/public/img/hero4.jpg');">
          <div style="background-color:rgba(0,0,0,.3)" class="w-100 h-100 flex items-center justify-center">
            <div class="w-70-ns dib white  cf h2 h4-ns v-mid">
              <img src="//placehold.it/200x200"  class="br-100 h3 w3 dib v-mid bg-gray ba white mr4 square-70px square-200px-ns  ">
              <div class="dib v-mid">
                <h2 class="fw6 lh-copy f3 f1-ns  ">Anthony Alaribe</h2>
                <p class="fw2 lh-copy f5 f4-ns ">member since january, 2016</p>
              </div>
            </div>
        </div>
        </section>
        <section class="tc">
          <div class="pa2 dib">
            <a href="#" class="link black grow dib">
              <div class="shadow-4 pa3 dib v-mid bg-white">
                <img class="dib v-mid" src="/public/img/envelope.svg" style="width:28px"/>
                <span class="dib v-mid">&nbsp;&nbsp;21 messages</span>
              </div>
            </a>
          </div>
          <div class="pa2 dib">
            <a href="#" class="link black grow dib">
              <div class="shadow-4 pa3 dib  bg-white">
                <img src="/public/img/chat.svg" style="width:28px" class="dib v-mid"/>
                <span class="dib v-mid">&nbsp;&nbsp;You have bid on 30 barters so far</span>
              </div>
            </a>
          </div>
          <div class="pa2 dib">
            <a href="#" class="link black grow dib">
              <div class="shadow-4 pa3 dib bg-white">
                <img src="/public/img/pin-post.svg" style="width:28px" class="dib v-mid"/>
                <span class="dib v-mid">&nbsp;&nbsp;Uploaded 30 Barters so far</span>
              </div>
            </a>
          </div>
        </section>

        <!-- Beginning if explore section -->
        <section class="pa3 cf tc">
          <section class="w-80-ns dib tl">

          <section class="w-25 fl pa1">
            <div class="w-100 bg-white pa3 shadow-4">
              <h2 class="tc pv2 primary fw6">Quick links</h2>
              <div>
                <a href="/notifications" class="link db pa3 ">Notifications</a>
                <a href="/newitem" class="link db pa3 ">Create a barter</a>
                <a href="/archive" class="link db pa3 ">Barter Archives</a>
              </div>
            </div>
          </section>
          <section class="w-75 fl pa1 cf">
            <section class="cf">
              <section class="w-100 fl ph2">
                <!-- Notification item -->
                <div class="shadow-4 bg-white pv3 mb4">
                  <div class="pa3 pv2 ">
                    <h4 class="fw6 "><a class="primary link">Anthony Alaribe</a> made an offer on <a class="primary link">#bid22</a></h4>
                    <p class="db pt1 w-100" >I want your service in exchange for my macbook air</p>
                  </div>
                </div>
                <!-- Notification item -->
                <!-- Notification item -->
                <div class="shadow-4 bg-white pv3 mb4">
                  <div class="pa3 pv2 ">
                    <h4 class="fw6 "><a class="primary link">Anthony Alaribe</a> made an offer on <a class="primary link">#bid22</a></h4>
                    <p class="db pt1 w-100" >I want your service in exchange for my macbook air</p>
                  </div>
                </div>
                <!-- Notification item -->
                <!-- Notification item -->
                <div class="shadow-4 bg-white pv3 mb4">
                  <div class="pa3 pv2 ">
                    <h4 class="fw6 "><a class="primary link">Anthony Alaribe</a> made an offer on <a class="primary link">#bid22</a></h4>
                    <p class="db pt1 w-100" >I want your service in exchange for my macbook air</p>
                  </div>
                </div>
                <!-- Notification item -->
                <!-- Notification item -->
                <div class="shadow-4 bg-white pv3 mb4">
                  <div class="pa3 pv2 ">
                    <h4 class="fw6 "><a class="primary link">Anthony Alaribe</a> made an offer on <a class="primary link">#bid22</a></h4>
                    <p class="db pt1 w-100" >I want your service in exchange for my macbook air</p>
                  </div>
                </div>
                <!-- Notification item -->
                <!-- Notification item -->
                <div class="shadow-4 bg-white pv3 mb4">
                  <div class="pa3 pv2 ">
                    <h4 class="fw6 "><a class="primary link">Anthony Alaribe</a> made an offer on <a class="primary link">#bid22</a></h4>
                    <p class="db pt1 w-100" >I want your service in exchange for my macbook air</p>
                  </div>
                </div>
                <!-- Notification item -->
              </section>

            </section>
            <div class="tc  pa4 cf w-100 db ">
              <br/>
              <a href="#" class="dib link pa3 bg-white shadow-4 ba black v-mid">load more</a>
            </div>
          </section>
        </section>
      </section>
        <!-- End of Explore Section -->

        <!-- How it works -->
        <section class="tc bg-white pb4">
          <h2 class="pv5">How it works?</h2>
          <div class="w-80-ns dib">
            <div class="w-33-ns dib">
              <img src="/public/img/selectfromphone.png" class="" style="height:12rem;"/>
              <p class="fw6 f3 pa2">Register an item you want to batter</p>
            </div>
            <div class="w-33-ns dib">
              <img src="/public/img/messagefromuser.png" class="" style="height:12rem; width:12rem"/>
              <p class="fw6 f3 pa2">Accept a bid from someone who has what you want</p>
            </div>
            <div class="w-33-ns dib">
              <img src="/public/img/thumbs.png" class="" style="height:12rem; width:12rem"/>
              <p class="fw6 f3 pa2">Make the exchange and enjoy your life</p>
            </div>
          </div>
        </section>
        <!-- End how it works -->


        <!-- call to action Button -->
        {{template "footer_call_to_action"}}
        <!-- End Action -->

        {{template "footer_share_area"}}
        <!-- Footer -->
        {{template "footer"}}
        <!--End Footer -->
    </body>
</html>
