<!doctype html>

<html lang="en">
    {{template "head"}}

    <body class=" avenir " style="background-color:#f9f9f9">
        <!-- main nav -->
        {{template "nav_menu" .User}}
        <!-- End main nav -->
        {{template "profile_banner" .User}}

        {{template "profile_quick_stats"}}
        <!-- Beginning if explore section -->
        <section class="pa3 cf tc">
          <section class="w-80-ns dib tl">

          <section class="w-25 fl pa1">
            <div class="w-100 bg-white pa3 shadow-4">
              <h2 class="tc pv2 primary fw6">Quick links</h2>
              <div>
                <a href="/notifications" class="link db pa3 ">Notifications</a>
                <a href="/newitem" class="link db pa3 ">Create a barter</a>
                <a href="/archive" class="link db pa3 ">Barter Archives</a>
              </div>
            </div>
          </section>
          <section class="w-75 fl pa1 cf">
            <section class="cf">
              <section class="w-100 fl ph2">
                <!-- Barter item -->
                <div class="shadow-4 bg-white pt3 mb4">
                  <h3 class="fw4 pa3 pv3">Create a new barter</h3>
                  <div class="pa3 pv2">
                    <form action="/newitem" method="POST">
                        <h4 class="fw6 primary">What I have?</h4>
                        <textarea class="db pt1 w-100" name="have">A macbook or a really good laptop</textarea>
                        <small class="dark-gray">item category: <select href="dsd" name="haveCat" class="link primary fw6 hover-primary">
                            <option>laptops and computers</option>
                            <option>Mobile</option>
                            <option>Cars</option>
                          </select>
                      </small>
                      </div>
                      <div class="pa3 pt2 ">
                        <h4 class="fw6 primary">What I need?</h4>
                        <textarea class="db pt1 w-100" name="need">A macbook or a really good laptop</textarea>
                        <small class="dark-gray">item category: <select href="dsd" name="needCat" class="link primary fw6 hover-primary">
                            <option>laptops and computers</option>
                            <option>Mobile</option>
                            <option>Cars</option>
                          </select>
                      </small>
                      </div>
                      <div class="pa3 pt2 ">
                        <h4 class="fw6 primary">Your location</h4>
                        <select class="db pa3 w-100" name="location">
                          <option>Calabar</option>
                          <option>Lagos</option>
                          <option>Port harcourt</option>
                        </select>
                      </div>
                      <div>
                        <input type="hidden" id="itemImageDataInput" name="itemImageDataInput"/>
                      </div>
                      <div class="cf pt3">
                        <h4 class="fw6 primary pa3 pv4">Images of the barter item
                          <small>(if applicable): &nbsp;&nbsp;&nbsp;</small>
                          <label for="itemImagesFileInput" class="pa2 ba shadow-1 hover-bg-navy hover-white">add image</label>
                          <input name="itemImagesFileInput" id="itemImagesFileInput" class="dn" type="file" multiple/>
                        </h4>
                        <div id="itemImagesHolder"></div>
                      </div>
                    </div>
                    <!-- end barter item -->
                  </section>

                </section>
                <div class="tc  pa4 cf w-100 db ">
                  <br/>
                  <input type="submit" class="dib link pa3 bg-white shadow-4 ba black v-mid" name="savebarter" value="Submit">
                </div>
            </form>
          </section>
        </section>
      </section>
        <!-- End of Explore Section -->

        <!-- How it works -->
        <section class="tc bg-white pb4">
          <h2 class="pv5">How it works?</h2>
          <div class="w-80-ns dib">
            <div class="w-33-ns dib">
              <img src="/public/img/selectfromphone.png" class="" style="height:12rem;"/>
              <p class="fw6 f3 pa2">Register an item you want to batter</p>
            </div>
            <div class="w-33-ns dib">
              <img src="/public/img/messagefromuser.png" class="" style="height:12rem; width:12rem"/>
              <p class="fw6 f3 pa2">Accept a bid from someone who has what you want</p>
            </div>
            <div class="w-33-ns dib">
              <img src="/public/img/thumbs.png" class="" style="height:12rem; width:12rem"/>
              <p class="fw6 f3 pa2">Make the exchange and enjoy your life</p>
            </div>
          </div>
        </section>
        <!-- End how it works -->

        <!-- Action Button -->
        <section class="pa5  white cf tc bg-primary" style="">
          <h3 class="fw1 f2 pv2">Trading has never been this easy</h3>
          <p class="fw4 f4">Join the community to barter and trade with other like minds</p>
          <br/>
          <a href="#" class="dib link ba white pa3 bg-animate hover-bg-white hover-black">Register for free</a>
        </section>
        <!-- End Action -->

        <!-- call to action Button -->
        {{template "footer_call_to_action"}}
        <!-- End Action -->

        {{template "footer_share_area"}}
        <!-- Footer -->
        {{template "footer"}}
        <!--End Footer -->
    </body>
</html>
