<!DOCTYPE html>

<html lang="en">
  {{ template "head"}}
    <body class=" avenir " style="background-color:#f9f9f9">
        <!-- main nav -->
        {{template "nav_menu"}}
        <!-- End main nav -->

        <!-- Beginning if explore section -->
        <section class="cf vh-100 flex flex-row items-center justify-center">
          <section class="w-60-ns pa3 mt4 shadow-4 bg-white">
            <div>
              <h2 class="tc">Register or Sign in</h2>
            </div>
            <div class="tc pa2 pv4">
              <a href="{{.FBAuthURL}}" class="pa3 link bg-blue white" style="background-color:#3b5998;">
                <img src="/public/img/facebook-icon.svg" style="width:18px"/>&nbsp;&nbsp;&nbsp;login with facebook</a>
              <a href="{{.GoogleAuthURL}}" class="pa3 link bg-red white " style="background-color:#d34836;">
                <img src="/public/img/google-plus-icon.svg" style="width:18px"/>&nbsp;&nbsp;&nbsp;login with Google Plus</a>
            </div>
            <div class="bt bb b--near-white pv2 bw1 cf">
              
              <section class="w-50  dib fl pa4 ">
                <h4>Login</h4>
                <p class="fw2 red f6 pt1">{{.LoginError}}</p>
                <form class="w-100" action="/login" method="POST">
                  <div class="pv2 w-100">
                    <label class=" dn w3">Email</label>
                    <input type="text" name="email" class="pa3 w-100 bg-near-white" placeholder="Email address"/>
                  </div>
                  <div class="pv2 w-100">
                    <label class="dn w3">Password</label>
                    <input type="password" name="password" class="pa3 w-100 bg-near-white" placeholder="Password"/>
                  </div>
                  <div class="tr">
                    <button type="submit" class="pv3 ph4 bg-navy white bw0 shadow-4">Login</button>
                  </div>
                </form>
              </section>
              <section class="w-50  dib fl pa4 bl bw1 b--near-white">
                <h4>Signup</h4>
                <p class="fw2 red f6 cf pt1">{{.SignupError}}</p>
                <form action="/signup" method="POST">
                  <div class="pv2 w-100">
                    <label class=" dn w3">Name</label>
                    <input type="text" name="name" class="pa3 w-100 bg-near-white" placeholder="Full Name"/>
                  </div>
                  <div class="pv2 w-100">
                    <label class="dn w3">Email</label>
                    <input type="text" name="email" class="pa3 w-100 bg-near-white" placeholder="Email address"/>
                  </div>
                  <div class="pv2 w-100">
                    <label class="dn w3">Password</label>
                    <input type="password" name="passwd" class="pa3 w-100 bg-near-white" placeholder="Password"/>
                  </div>
                  <div class="tr">
                    <button type="submit" class="pv3 ph4 bg-navy white bw0 shadow-4 ">Signup</button>
                  </div>
                </form>
              </section>
            </div>
          </section>
        </section>
        <!-- End of Explore Section -->

        <!-- How it works -->
        <section class="tc bg-white pb4">
          <h2 class="pv5">How it works?</h2>
          <div class="w-80-ns dib">
            <div class="w-33-ns dib">
              <img src="/public/img/selectfromphone.png" class="" style="height:12rem;"/>
              <p class="fw6 f3 pa2">Register an item you want to batter</p>
            </div>
            <div class="w-33-ns dib">
              <img src="/public/img/messagefromuser.png" class="" style="height:12rem; width:12rem"/>
              <p class="fw6 f3 pa2">Accept a bid from someone who has what you want</p>
            </div>
            <div class="w-33-ns dib">
              <img src="/public/img/thumbs.png" class="" style="height:12rem; width:12rem"/>
              <p class="fw6 f3 pa2">Make the exchange and enjoy your life</p>
            </div>
          </div>
        </section>
        <!-- End how it works -->

        <!-- Action Button -->
        <section class="pa5  white cf tc bg-primary" style="">
          <h3 class="fw1 f2 pv2">Trading has never been this easy</h3>
          <p class="fw4 f4">Join the community to barter and trade with other like minds</p>
          <br/>
          <a href="#" class="dib link ba white pa3 bg-animate hover-bg-white hover-black">Register for free</a>
        </section>
        <!-- End Action -->

        
        {{template "footer_share_area"}}
        <!-- Footer -->
        {{template "footer"}}
        <!--End Footer -->
    </body>
</html>
